:root {
  --base: #191724;
  --surface: #1f1d2e;
  --overlay: #26233a;
  --muted: #6e6a86;
  --subtle: #908caa;
  --text: #e0def4;
  --love: #eb6f92;
  --gold: #f6c177;
  --rose: #ebbcba;
  --pine: #31748f;
  --foam: #9ccfd8;
  --iris: #c4a7e7;
  --highlight-low: #21202e;
  --highlight-med: #403d52;
  --highlight-high: #524f67;
}

body {
  font-family: 'Tahoma', Tahoma;
}

table th { border-bottom: 2px solid; }
table td { border-right: 1px solid; padding: 5px 10px; }
table tr td:last-of-type { border: none; }
hr {
  background: linear-gradient(to right, var(--pine), var(--love), var(--rose), var(--gold), var(--rose),var(--love), var(--pine));
  height: 5px;
  border: 0;
}

@media (prefers-color-scheme: dark) {
  body { color: var(--text); background-color: var(--base);}
  a { color: var(--love); text-decoration: none; }
  a:hover { color: var(--foam); }
  mark { background: #e6db74; border-radius: 3px; padding: 0 3px; }
  code:not([class^=language-]):not([class=mermaid]) { background: var(--highlight-low); color: var(--subtle); border-radius: 3px; padding: 3px; }
  kbd { background: #fd971f; color: #000; border-radius: 3px; padding: 0 3px; }
  table th { color: #f8f8f2; }
  table td { color: #f8f8f2; }
  table tr:nth-child(odd) td { background: #424242; }
  blockquote { background: #424242; border-left: 5px solid #75715e; padding: 1px 10px; margin: 16px 0; }
  /*prism*/
  [class^=language-] .function, [class^=language-] .function-variable { color: #a6e22e; }
  [class^=language-] .property, [class^=language-] .literal-property { color: #e6db74; }
  [class^=language-] .parameter { color: #fd971f; }
  [class^=language-] .operator { color: #f92672; }
  [class^=language-] .punctuation { color: #fff; }
  [class^=language-] .string { color: #e6db74; }
  [class^=language-] .boolean { color: #ae81ff; }
  [class^=language-] .comment { color: #75715e; }
}
@media (prefers-color-scheme: light) {
  body { color: #000; }
  a { color: #0071a1; text-decoration: none; }
  a:hover { text-decoration: underline; }
  mark { background: #e6db74; border-radius: 3px; padding: 0 3px; }
  code:not([class^=language-]) { background: #6d6d6d; color: #f8f8f2; border-radius: 3px; padding: 3px; }
  kbd { background: #fd971f; color: #000; border-radius: 3px; padding: 0 3px; }
  table th { color: #000; }
  table td { color: #000; }
  table tr:nth-child(odd) td { background: #efefef; }
  blockquote { background: #e1e1e1; border-left: 5px solid #75715e; padding: 1px 10px; margin: 16px 0; }
}
